@font-face {
  font-family: "iconfont"; /* Project id 5060511 */
  src: url('iconfont.woff2?t=1762528167437') format('woff2'),
       url('iconfont.woff?t=1762528167437') format('woff'),
       url('iconfont.ttf?t=1762528167437') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji1:before {
  content: "\e600";
}

.icon-jian:before {
  content: "\e601";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-down:before {
  content: "\e6a8";
}

.icon-up:before {
  content: "\e6a9";
}

.icon-jia:before {
  content: "\e643";
}

.icon-users:before {
  content: "\e672";
}

.icon-daochu:before {
  content: "\e61b";
}

.icon-gengduoneirong:before {
  content: "\e685";
}

.icon-xiazai:before {
  content: "\e606";
}

.icon-tiku:before {
  content: "\e69b";
}

.icon-shezhi:before {
  content: "\e60f";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-home:before {
  content: "\e602";
}

.icon-shangyiye:before {
  content: "\e610";
}

.icon-xiayiye:before {
  content: "\e611";
}

.icon-guanbi:before {
  content: "\e603";
}

.icon-More:before {
  content: "\e60d";
}

.icon-shouji:before {
  content: "\eac3";
}

